/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 159px;
 background-color: white;
 margin: 0px;
 padding: 2px;
}
#content{
 width: 159px;
 background-color: white;
 margin: 10px;
 margin-bottom: 10px;
 border-radius: 10px;
 border-style: solid;
 border-width: 5px;
}
#div1{
 	display: inline-block;
 }

.images{
	 width: 160px;
	 height: auto;
	 display: inline-block;
}
.boxes{
	width: 160px;
	height: 25px;
	display: inline-block;
}